/* General Stylings */

:root {
  --background-color: #fff;
  --text-color: #000;
  --light-blue: #00c;
  --normal-blue: #009;
  --middle-blue: #006;
  --dark-blue: #003;
  --orange: #f60;
  --light-orange: #f90;
  --middle-grey: #ddd;
  --light-grey: #eee;
  --border-color: rgba(0, 0, 102, 0.15);

  --text-font: "Roboto", sans-serif;
  --heading-font: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--text-font);
  font-size: 16px;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p,
ul,
ol {
  font-size: 1.1em;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li::before {
  content: "* ";
  color: var(--orange);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--middle-blue);
}

a:hover {
  color: var(--light-blue);
}

body {
  margin: 0;
  background-color: var(--background-color);
}

::selection {
  background-color: var(--middle-blue);
  color: var(--light-orange);
}

/* Specific Stylings */

.header {
  padding: 5rem 2.25rem 3.5rem 2.25rem;
  text-align: center;
  background-image: linear-gradient(var(--middle-grey), transparent);
  position: relative;
}

.headline-group {
  font-size: 4rem;
  background-image: linear-gradient(
    var(--middle-blue) 10%,
    var(--light-blue) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.main-headline {
  font-size: 1em;
  color: transparent;
}

.profession {
  font-size: 0.35em;
  margin-bottom: 2em;
}

.profession::after {
  content: " 🖍️";
}

.main h2 {
  color: var(--middle-blue);
}

.main article h3 {
  color: var(--dark-blue);
}

.navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-link + .nav-link {
  margin-top: 0.5rem;
}

.nav-link {
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
  color: var(--background-color);
  background-color: var(--normal-blue);
  border-radius: 5px;
  transition: background-color 1s ease-in-out, color 1s ease-in-out,
    transform 1s ease-in-out, outline 1s ease-in-out;
}

.nav-link:hover {
  background-color: var(--orange);
  color: var(--dark-blue);
  transform: translateY(-0.25rem);
}

.nav-link:active {
  background-color: var(--orange);
  color: var(--background-color);
  outline: 2px solid var(--background-color);
}

.nav-link:focus {
  background-color: var(--middle-grey);
  color: var(--light-blue);
  outline: 2px solid var(--light-blue);
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
  }

  .nav-link {
    width: 10rem;
  }

  .nav-link + .nav-link {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}

.hire-me {
  position: absolute;
  top: 35px;
  right: 35px;
  font-family: var(--heading-font);
  font-size: 1.25rem;
  margin: 0;
  padding: 0.5rem 1.5rem;
  background-image: linear-gradient(var(--normal-blue), var(--middle-blue));
  color: var(--background-color);
  border-radius: 10px;
  border: 2px solid var(--background-color);
  outline: 1px solid var(--middle-blue);
  opacity: 0.75;
  transform-origin: 100% 0%;
  transition: opacity 0.75s ease-in-out, transform 0.75s steps(5);
}

.header:hover .hire-me,
.header:focus-within .hire-me {
  opacity: 1;
  transform: scale(1.25);
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me,
  .navigation {
    display: none;
  }
}

.main {
  max-width: 85ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3.5rem;
}

.main > * {
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--border-color);
  padding-inline: 1rem;
}

.main > *:last-child {
  border-bottom: none;
}

.main-article-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.article-headline {
  position: relative;
  left: -1em;
}

.article-headline::first-letter {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--light-blue);
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 100ch;
  }

  .main > * + * {
    margin-top: 5rem;
  }

  .main > * {
    padding-bottom: 3.5rem;
  }

  .main-article-grid {
    grid-template-columns: 1fr 3fr;
  }

  .article-content-grid {
    margin-top: 2.5rem;
  }

  p.article-content-grid,
  ol.article-content-grid {
    margin-top: 3.5rem;
  }

  #skills .article-content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media print and (min-width: 768px) {
  .main-article-grid {
    grid-template-columns: 1fr 3fr;
  }

  .article-content-grid {
    margin-top: 2.5rem;
  }

  p.article-content-grid,
  ol.article-content-grid {
    margin-top: 3.5rem;
  }

  ol.article-content-grid {
    margin-left: 0;
  }

  #skills .article-content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .article-headline {
    position: relative;
    left: -0.5em;
  }
}

@media print and (max-width: 992px) {
  .article-headline {
    position: relative;
    left: -0.5em;
  }
}

#contact > ol > li:first-child::before {
  content: "📧 ";
}

#contact > ol > li:last-child::before {
  content: "📱 ";
}

#contact > ol > li:nth-child(2)::before {
  content: "📞 ";
}

#experiences header {
  display: flex;
  flex-direction: column;
}

.experiences-headline {
  margin-bottom: 0;
  line-height: 1.5;
}

.experiences-subline {
  background-color: var(--light-grey);
  color: var(--middle-blue);
  _max-width: 45vw;
  padding: 0.1rem 0.5rem;
  border-radius: 0.25rem;
}

@media screen and (min-width: 768px) {
  #experiences header {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .experiences-headline {
    margin-right: 1rem;
  }
}

@media print and (min-width: 768px) {
  #experiences header {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .experiences-headline {
    margin-right: 1rem;
  }
}

.footer {
  padding: 5rem 2.25rem;
  background-image: linear-gradient(transparent, var(--middle-grey));
}

.footer > * {
  max-width: 100ch;
}

.footer-headline {
  line-height: 1.5;
}

@media screen and (min-width: 992px) {
  .footer-headline {
    position: relative;
    left: 1em;
  }
}

@media print and (min-width: 992px) {
  .footer-headline {
    position: relative;
    left: 1em;
  }
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-top: 1.25rem;
  border-top: 2px solid var(--border-color);
  margin: 0 auto;
}

address {
  font-size: 1.15rem;
  line-height: 1.5;
}

address:first-child {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .contact-info {
    grid-template-columns: repeat(2, 1fr);
  }

  address {
    text-align: left;
  }
}

@media print and (min-width: 768px) {
  .footer > * {
    max-width: 100ch;
  }

  .contact-info {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  address {
    text-align: left;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --text-color: #fff;
    --border-color: rgba(204, 204, 204, 0.75);
  }

  .header {
    background-image: linear-gradient(var(--dark-blue), transparent);
  }

  .nav-link {
    background-color: var(--light-grey);
  }

  .hire-me {
    background-image: linear-gradient(var(--light-orange), var(--orange));
    outline: 1px solid var(--light-orange);
  }

  .headline-group {
    background-image: linear-gradient(
      var(--orange) 10%,
      var(--light-orange) 30%
    );
  }

  .footer {
    background-image: linear-gradient(transparent, var(--dark-blue));
  }

  .main h2,
  .main article h3 {
    color: var(--light-grey);
  }

  .article-headline::first-letter {
    color: var(--light-orange);
  }

  a {
    color: var(--light-grey);
  }

  ul li::before {
    content: "* ";
    color: var(--light-orange);
    font-weight: bold;
  }
}
