/* General Stylings */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
ul,
ol {
  font-size: 1.1em;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #006;
}

body {
  margin: 0;
}

::selection {
  background-color: #006;
  color: #f90;
}

/* Specific Stylings */

.header {
  padding: 75px 35px 50px 35px;
  text-align: center;
  background-color: #eee;
  position: relative;
}

.headline-group {
  font-size: 4rem;
}

.main-headline {
  font-size: 1em;
}

.profession {
  font-size: 0.35em;
  margin-bottom: 2em;
}

.profession::after {
  content: " 🖍️";
}

.header h1,
.main h2 {
  color: #006;
}

.main article h3 {
  color: #003;
}

.nav-link {
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
  color: white;
  background-color: #009;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #f60;
  color: #003;
}

.nav-link:active {
  background-color: #f60;
  color: white;
  outline: 1px solid white;
}

.nav-link + .nav-link {
  margin-left: 0.5em;
}

.hire-me {
  position: absolute;
  top: 35px;
  right: 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  padding: 0.5rem 1.5rem;
  background-image: linear-gradient(#009, #006);
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  outline: 1px solid #006;
}

@media screen and (max-width: 553px) {
  .nav-link {
    display: block;
    width: 100%;
  }

  .nav-link + .nav-link {
    margin-left: 0;
    margin-top: 0.5em;
  }
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me,
  .navigation {
    display: none;
  }
}

.main {
  max-width: 85ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3.5rem;
}

.main > * {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-inline: 1rem;
}

.main > *:last-child {
  border-bottom: none;
}

.article-headline {
  position: relative;
  left: -1em;
}

.article-headline::first-letter {
  font-size: 2.25rem;
  font-weight: 600;
  color: #00c;
}

@media screen and (min-width: 786px) {
  .main {
    max-width: 95ch;
  }

  .main > * + * {
    margin-top: 5rem;
  }

  .main > * {
    padding-bottom: 3.5rem;
  }

  #skills section {
    display: inline-block;
    width: 40vh;
  }
}

@media print and (min-width: 786px) {
  #skills section {
    display: inline-block;
    width: 40vh;
  }
}

@media screen and (max-width: 992px) {
  .article-headline {
    position: relative;
    left: -0.5em;
  }
}

@media print and (max-width: 992px) {
  .article-headline {
    position: relative;
    left: -0.5em;
  }
}

#contact > ol > li:first-child::before {
  content: "📧 ";
}

#contact > ol > li:last-child::before {
  content: "📱 ";
}

#contact > ol > li:nth-child(2)::before {
  content: "📞 ";
}

.experiences-headline,
.experiences-subline {
  display: inline-block;
}

.experiences-subline {
  background-color: #ededed;
  color: #006;
  margin-left: 0.25rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.25rem;
}

.experiences-headline::after {
  content: "|";
  color: #666;
  margin-left: 0.5rem;
}
